
.vscode/*

koptplanner/data/VisibilityMatrix.m
koptplanner/data/latestPath.csv
koptplanner/data/tourlength.m
request/meshes/Original/*
request/meshes/Alternative/*
request/meshes/cache/*
request/visualization/inspectionScenario.m
koptplanner/data/*

#Temporary backup files
*~
