<launch>
    <node name="Inspection_Planner" pkg="koptplanner" type="plan" clear_params="true" output="screen">
	    <rosparam file="$(find koptplanner)/hoaHakanaiaParam.yaml"/>
    </node>
    <node name="request" pkg="request" type="hoaHakanaia"> </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rviz)/structuralInspectionPlanner.rviz" />
</launch>

